@page
@model Account

@{
    Layout = "Shared/_Layout";
}

<div class="col-md-4 offset-lg-4">
    <form method="post" class="col col-md-12 form">
        <p>
            <label class="form-label">@Model.Worker?.FullName</label>
        </p>
        <button class="btn btn-danger" asp-page-handler="Logout">Выйти</button>
    </form>
</div>