@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Менеджер штатных расписаний</h1>
    <h4>Помощник по формированию штатного расписания</h4>
</div>