@page
@model TimeTableSite.Pages.Roles.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Информация</h1>

<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Наименование
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
        <dt class="col-sm-2">
            Подразделение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Department.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Role.Id">Редактировать</a> |
    <a asp-page="./Index">Назадt</a>
</div>
