@page
@model TimeTableSite.Pages.Roles.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Должности</h1>

<p>
    <a asp-page="Create">
        <button class="btn btn-primary">Создать</button>
    </a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Подразделение
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Role)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Больше</a>
            </td>
        </tr>
    }
    </tbody>
</table>